@model Pagination.Models.Teams
@{
    ViewBag.Title = "Add";
}

<h2>Login</h2>



@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-sm margin-right">
                    <span class="glyphicon glyphicon-save"></span> Run
                </button>
                <a href="@Url.Action("Hasil")" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-remove"></span> Hasil
                </a>
            </div>
        </div>
    </div>
}

