
@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["UserId"] != null)
{
    <h4>Hallo @Session["Username"].ToString() </h4>
}

<p>
    @Html.ActionLink("Back", "Index")
</p>

    <script type="text/JavaScript">
            function setTimeForSubmit() {
                window.setTimeout("submitForm()", 1500000);//Expire after 25 min
            }
            function submitForm() {
                document.forma.submit();
            }
            var mins = 25; // write mins to javascript
            var secs = 1; // write secs to javascript
            function timer()
            {
                // tic tac
                if (--secs === -1)
                {
                    secs = 59;
                    --mins;
                }

                // leading zero? formatting
                if (secs < 10)
                    secs = "0" + secs;
                if (mins < 10)
                    mins = "0" + parseInt(mins, 10);

                // display
                document.forma.mins.value = mins;
                document.forma.secs.value = secs;

                // continue?
                if (secs === 0 && mins === 0) // time over
                {
                    document.forma.ok.disabled = true;
                    document.formb.results.style.display = "block";
                }
                else // call timer() recursively every 1000 ms == 1 sec
                {
                    window.setTimeout("timer()", 1000);
                }
            }
            window.history.forward();
            function noBack() {
                window.history.forward();
            }
    </script>

<body onload="setTimeForSubmit();" onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <div class="wrapper">
        <form action="testresult.jsp" method="post" name="forma" style="margin-bottom: 0px">

                @*<div class="time-reaming">
                    <span class="testTitle">Time remaining</span><span class="testTitle">: </span>
                    <input type="text" name="mins" size="1" class="textTime">
                    <span class="testTitle">:</span>
                    <input type="text" name="secs" size="1" class="textTime">
                    <script> timer();</script>
                </div><br/>*@           

            <div class="col-md-12 col-sm-12" id="onlinetest">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <i class="fa fa-bar-chart-o fa-fw"></i> ASP .NET TEST
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            
                            <div class="panel panel-default" id="ques1">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 1 :</b> By default, ASP.NET store SessionIDs in _________________ </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio1" value="Cookies">(A) Cookies
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio1" value="Cache">(B) Cache
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio1" value="Database">(C) Database
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio1" value="Global variable">(D) Global variable
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques2">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 2 :</b> Which of the following languages can be used to write server side scripting in ASP.NET? </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio2" value="C-sharp">(A) C-sharp
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio2" value="VB">(B) VB
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio2" value="C++">(C) C++
                                            </div><!-- /input-group -->
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio2" value="a and b">(D) a and b
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques3">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 3 :</b> Choose the form in which Postback occur? </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio3" value="HTMLForms">(A) HTMLForms
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio3" value="Webforms">(B) Webforms
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio3" value="Winforms">(C) Winforms
                                            </div><!-- /input-group -->
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques4">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 4 :</b> What is the purpose of code behind ? </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio4" value="To separate different sections of a page in to different files">(A) To separate different sections of a page in to different files
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio4" value="To merge HTML layout and code in to One file">(B) To merge HTML layout and code in to One file
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio4" value="To separate HTML Layout and code to different file">(C) To separate HTML Layout and code to different file
                                            </div><!-- /input-group -->
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio4" value="To ignore HTML usage">(D) To ignore HTML usage
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques5">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 5 :</b> Which one of the following is the last stage of the Web forms lifecycle? </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio5" value="Page_Load">(A) Page_Load
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio5" value="Event Handling">(B) Event Handling
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio5" value="Page_Init">(C) Page_Init
                                            </div><!-- /input-group -->
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio5" value="Page_Unload">(D) Page_Unload
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques6">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 6 :</b> When an .aspx page is requested from the web server, the out put will be rendered to browser in following format. </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio6" value="HTML">(A) HTML
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio6" value="XML">(B) XML
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio6" value="WML">(C) WML
                                            </div><!-- /input-group -->
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio6" value="JSP">(D) JSP
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques7">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 7 :</b> Which of the following object is not an ASP component? </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio7" value="LinkCounter">(A) LinkCounter
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio7" value="Counter">(B) Counter
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio7" value="AdRotator">(C) AdRotator
                                            </div><!-- /input-group -->
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio7" value="File Access">(D) File Access
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques8">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 8 :</b> Which objects is used to create foreign key between tables?<div><br></div> </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio8" value="DataRelationship">(A) DataRelationship
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio8" value="DataRelation">(B) DataRelation
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio8" value="DataConstraint">(C) DataConstraint
                                            </div><!-- /input-group -->
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio8" value="Datakey">(D) Datakey
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques9">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 9 :</b> Which of the following base class do all Web Forms inherit from? </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio9" value="Window class">(A) Window class
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio9" value="Web class">(B) Web class
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio9" value="Page class">(C) Page class
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio9" value="Form class">(D) Form class
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="ques10">
                                <div class="panel-heading online-test" role="tab" id="">
                                    <h4 class="panel-title">
                                        <a><b>Ques 10 :</b> The Asp.net server control, which provides an alternative way of displaying text on web page, is </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body online-test-options">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio10" value="< asp:label >">(A) < asp:label >
                                            </div><!-- /input-group -->
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio10" value="< asp:listitem >">(B) < asp:listitem >
                                            </div><!-- /input-group -->
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="radio" name="radio10" value="< asp:button >">(C) < asp:button >
                                            </div><!-- /input-group -->
                                        </div>

                                    </div>
                                </div>
                            </div>                            

                            <br/>
                            <button type="submit" class="btn btn-secondary online-test-btn">@Html.ActionLink("Submit Answer", "Index")</button>

                        </div>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
    
